{
  "semi": true,
  "singleQuote": false,
  "trailingComma": "all",
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",
  "endOfLine": "lf",
  "importOrder": [
    "<BUILTIN_MODULES>",
    "",
    "^(react|react-dom)(.*)$",
    "^(next)(.*)$",
    "",
    "<THIRD_PARTY_MODULES>",
    "",
    "^@/features/(.*)$",
    "^@/components/(.*)$",
    "^@/lib/(.*)$",
    "^@/(.*)$",
    "",
    "^[./]"
  ],
  "plugins": ["@ianvs/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"]
}
